<div class="row propertiesgrid">
    <div class="input-group">
        <div class="input-group-prepend ingrid col-4">
            <span class="input-group-text" id="label_{{ccuRoom.id}}">Objekt ID</span>
        </div>
        <input type="text" class="col-8 form-control text-right disabled" disabled="disabled"
            placeholder="{{ccuRoom.id}}" value="{{ccuRoom.id}}" attr.aria-label="Object ID"
            attr.aria-describedby="label_{{ccuRoom.id}}">

    </div>
</div>
<div class="row propertiesgrid">

    <div class="input-group">
        <div class="input-group-prepend ingrid col-4">
            <span class="input-group-text" id="label_{{ccuRoom.id}}">Name</span>
        </div>
        <input type="text" class="col-8 form-control text-right" [(ngModel)]="ccuRoom.name">
    </div>

</div>
<div class="row propertiesgrid">

    <div class="input-group">
        <div class="input-group-prepend ingrid col-4">
            <span class="input-group-text" id="label_desc_{{ccuRoom.id}}">Description</span>
        </div>
        <input type="text" class="col-8 form-control text-right" [(ngModel)]="ccuRoom.description">
    </div>

</div>

<br />

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="channels-tab" data-toggle="tab" href="#channels" role="tab"
            aria-controls="channels" aria-selected="true" i18n>Channels:</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="removeRoom-tab" data-toggle="tab" href="#removeRoom" role="tab"
            aria-controls="removeRoom" aria-selected="false" i18n>Remove Room</a>
    </li>
</ul>
<br />
<div class="tab-content">
    <div class="tab-pane active" id="channels" role="tabpanel" aria-labelledby="channels-tab">
        <div *ngFor="let channel of ccuRoom.channelObjects ;trackBy:trackChannels" [type]="channel"
            class="row propertiesgrid table-element c-callout c-callout-info b-t-1 b-r-1 b-b-1">

            <div class="col-1">
                <img class="device_image_small" src="{{apihost}}/api/1/image/{{channel.deviceType}}/small/true">
            </div>
            <div class="col-8">{{channel.name}}</div>
            <div class="col-3">
                <button type="button" class="btn btn-outline-danger btn-sm" i18n
                    (click)="removeChannel(channel.id)">Remove</button>
            </div>
        </div>

        <div class="row propertiesgrid">
            <div class="col-12 text-right" style="padding-right: 5px;">
                <button type="button" class="btn btn-outline-info btn-sm" (click)="openChannelChooser(addChannel)"
                    i18n>Add a
                    channel</button>
            </div>
            <!--data-toggle="modal" data-target="#addChannelDialog" -->
        </div>

    </div>

    <div class="tab-pane" id="removeRoom" role="tabpanel" aria-labelledby="removeRoom-tab">
        <br />
        <span i18n>All assigned channels will remain at the ccu.</span>
        <br />
        <button type="button" class="btn btn-danger btn-sm" (click)="deleteRoom(ccuRoom.id)" i18n>Delete room
            {{ccuRoom.name}}</button>
    </div>
</div>

<ng-template #addChannel let-modal>
    <div class="modal-header modal-info">
        <h5 class="modal-title" id="addChannelDialogLabel">Add a channel</h5>
    </div>
    <div class="modal-body">
        <label for="basiurl">Please select a channel:</label>
        <app-channelchooser [isWritable]="true" [isEventable]="true" [isReadable]="true" [isVirtual]="false"
            (onChoose)="modal.close($event);"></app-channelchooser>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
    </div>
</ng-template>