<div appLongPress (onShortPress)="click($event)" (onLongPress)="openControl($event)" class="{{item.visualState}}"
    role="close">
    <input type="checkbox" name="{{item.id}}" id="{{item.id}}" [checked]="device.isOn === true" disabled>
    <label for="{{item.id}}" role="close">
        <i class="c-icon c-icon-lg cil-{{item.icon}}"></i>
        <strong role="close">{{item.name}}</strong>
        <span role="close">{{item.stateDescription}}</span>
        <small role="close"></small>


        <mat-slider min="0" max="100" step="1" value="{{item.currentRawState}}" thumbLabel="true"
            [displayWith]="formatLabel" (change)="setDimmerLevel($event)" (input)="presetSliderLevel($event)">
        </mat-slider>


        <mat-tab-group (click)="tabClick($event)" [selectedIndex]="0" [disableRipple]="true">
            <mat-tab label="Preset">
                <div class="button-row">
                    <button *ngFor="let color of colorTable" mat-mini-fab class="rgbButton"
                        [style.background-color]="getColor(color)" (click)="setColor(color)">&nbsp;</button>

                </div>

            </mat-tab>
            <mat-tab label="User">
                <div class="slider-row">
                    <color-hue-picker width="256" height="40" color="#fff"
                        (onChangeComplete)="handleChangeComplete($event)">
                    </color-hue-picker>
                </div>
            </mat-tab>
        </mat-tab-group>
    </label>
</div>