<ng-container *ngIf="menuitem.children">

    <li class="c-sidebar-nav-dropdown">
        <a class="c-sidebar-nav-dropdown-toggle" id="{{menuitem.id}}" style="cursor:pointer;">
            <i class="c-icon c-icon-lg mt-2 ml-1 mr-3 mb-2 cil-{{menuitem.icon}}"></i>
            <span data-localize="HomeKit Instances">{{menuitem.title}}</span>
        </a>

        <ul class="c-sidebar-nav-dropdown-items">
            <app-menuitem class="dummy" [menuitem]="menuitem" *ngFor="let menuitem of menuitem.children">

            </app-menuitem>
        </ul>
    </li>

</ng-container>

<ng-container *ngIf="menuitem.children===undefined">
    <li class="c-sidebar-nav-item">
        <a (click)=selectItem(menuitem.id) class="c-sidebar-nav-link" id="{{menuitem.id}}" style="cursor:pointer;">
            <i class="c-icon c-icon-lg mt-2 ml-1 mr-3 mb-2 cil-{{menuitem.icon}}"></i>
            <span>{{menuitem.title}}</span>
        </a>
    </li>
</ng-container>