<!-- sidebar -->
<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
    <div class="c-sidebar-brand">
        <span class="c-sidebar-brand-full">{{title}} - {{currentApplicationVersion}}</span>
    </div>

    <app-menu class="c-sidebar-nav"></app-menu>

    <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" id="sidebartoggler"
        data-class="c-sidebar-minimized"></button>
</div>
<!-- sidebar // -->
<div class="c-wrapper c-fixed-components">


    <div class="c-body">
        <app-header></app-header>

        <ng-sidebar-container class="sidebar-container">
            <!-- A sidebar -->
            <ng-sidebar [(opened)]="sideBarService.isOpen" position="right" mode="over" sidebarClass="sidebar">
                <app-sidebar></app-sidebar>
            </ng-sidebar>
            <!-- Page content -->
            <div ng-sidebar-content>
                <main class="c-main">
                    <div class="container-fluid">
                        <app-service></app-service>

                        <app-container></app-container>

                    </div>
                </main>
            </div>
        </ng-sidebar-container>
        <footer class="c-footer">
            (c) 2021 by thkl | <span>{{footerMessage}}</span>
        </footer>
    </div>
</div>