<header class="c-header c-header-light px-3">
    <button class="c-header-toggler" type="button">
        <span class="c-header-toggler-icon"></span>
    </button>

    <div class="form-inline search-form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" (change)="doSearch()"
            [(ngModel)]="searchTerm" aria-label="Search" [ngModelOptions]="{standalone: true}">

        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" (click)="clearSearch()">Clear</button>
    </div>
</header>