<header class="c-header c-header-light px-3">
    <button class="c-header-toggler" type="button">
        <span class="c-header-toggler-icon"></span>
    </button>
    <ul class="c-header-nav mr-auto">
        <li class="c-header-nav-item dropdown">
            <a class="c-header-nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-expanded="false">
                System
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#" (click)="selectSystem()">Close Connection</a>
            </div>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</header>